.jumbotron {
  background-color: rgb(224, 224, 247);
}

#jumbotron {
  text-shadow: #0000 5px 5px;
}
#jumbotron h1 {
  padding-top: 50px;
  color: #fff;
}
#jumbotron p {
  color: #fff;
}
.background-jumbotron {
  background-image: url("img/bg1.jpeg");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  box-shadow: inset 0 0 0 2000px rgb(0, 0, 0, 0.5);
}
#tentang {
  padding-top: 2rem;
}
#kegiatan {
  background-color: #a6f4e2;
}
#program {
  background-color: #78cdf7;
}

section {
  padding-top: 5rem;
}
